name: Sync to Epitech repo (SSH)

on:
    push:
        branches:
            - "**"

jobs:
    sync:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Setup SSH
              uses: webfactory/ssh-agent@v0.9.1
              with:
                  ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

            - name: Push to Epitech
              run: |
                  git config user.name "GitHub Action Sync"
                  git config user.email "sync@githubaction.local"

                  git remote remove epitech 2>/dev/null || true
                  git remote add epitech "${{ secrets.EPITECH_REPO_URL }}"

                  git push epitech HEAD:${GITHUB_REF#refs/heads/}
